@use'../base/typography' as * ;

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1170px;
$bp-desktop-xl: 1440px;
$altura_header:100px;
$padding_left_rigt: 2rem;
$header-transition:1s ease-in-out;

$primary-font: 'Victor Mono', monospace, 'Google Sans', sans-serif;

$black: #151515;
$white: #ffffff;


